.background{
  display: block;
  position: absolute;
  width: 400px;
  height: 600px;
  background-color: rgb(255, 255, 255);
}
.App{
  display: block;
  position: absolute;
  border: 1px solid #000;
  margin: 10px;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
}
